<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather in Vilnius</title>
</head>
<body>
    Šiuo metu temperatūra Vilniuje yra {{ temperature }} laipsnių(iai)
</body>
</html>